footer .menu {
  justify-content: space-between;
  font-size: 14px;
}

.footer-top {
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background: url("../img/footer-top-bg.jpg") no-repeat center;
  background-size: cover;
}

.footer-bottom {
  padding: 37px 0;
}