.home {
  background: url("../img/home-bg.png") no-repeat center top;
  background-size: cover;
  color: #fff;
  padding: 145px 0 175px;
  margin: 20px 0 0;
}
.home h1 {
  font-size: 72px;
  color: #fff;
  margin: 0;
  text-align: left;
  text-transform: none;
}
.home .box-text {
  font-size: 20px;
  font-family: "CenturyGothic", sans-serif;
  margin: 70px 0 80px;
  opacity: 0.6;
}

.home-content {
  max-width: 610px;
  padding: 0 0 0 80px;
}

.advantages-section {
  margin: 70px 0 50px;
}

.advantages-box {
  text-align: center;
}
.advantages-box__icon {
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
}
.advantages-box__icon img {
  max-height: 100%;
}
.advantages-box h4 {
  text-transform: uppercase;
  margin: 0 auto 30px;
}
.advantages-box .box-text {
  max-width: 230px;
  margin: 0 auto;
  font-size: 18px;
}

.section-image {
  width: 100%;
}
.section-image img {
  width: 100%;
}

.why-choose {
  margin: 100px 0 90px;
}
.why-choose h2 {
  margin: 0 auto 65px;
}
.why-choose .wrapper {
  padding: 0 80px;
}
.why-choose__content {
  padding: 0 18px 0 0;
  width: calc(100% - 298px);
}
.why-choose__img {
  max-width: 298px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.individual-approach {
  position: relative;
  background: #000;
  color: #fff;
  padding: 64px 0 100px;
  overflow: hidden;
}
.individual-approach .wrapper {
  align-items: center;
}
.individual-approach__img {
  margin: 0 0 -100px -185px;
  width: 678px;
}
.individual-approach__content {
  width: calc(100% - 508px);
  text-align: left;
}
.individual-approach .subtitle {
  margin: 0;
  text-align: left;
}

.brands-watch {
  padding: 67px 0 90px;
}
.brands-watch h2 {
  margin: 0 auto 50px;
  max-width: 650px;
}

.brands-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brands-column__item {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95px;
  overflow: hidden;
}

.faq {
  padding: 60px 0 90px;
}

.faq-content {
  padding: 0 80px;
}

.faq-box {
  margin: 0 0 30px;
}
.faq-box:last-child {
  margin: 0;
}

.steps-work h2 {
  margin: 0 auto 85px;
}
.steps-work .wrapper {
  align-items: flex-start;
}

.step-box {
  width: 25%;
  text-align: center;
  position: relative;
  z-index: 1;
}
.step-box::before {
  content: "";
  position: absolute;
  width: 51px;
  height: 14px;
  top: 40px;
  z-index: -1;
  right: -20px;
  background: url("../img/arrow-step.png") no-repeat center;
  background-size: 100%;
}
.step-box:last-child::before {
  display: none;
}
.step-box__icon {
  margin: 0 auto 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 103px;
}
.step-box__icon img {
  max-height: 100%;
}
.step-box__body {
  max-width: 265px;
  margin: 0 auto;
}
.step-box h4 {
  font-size: 22px;
  text-transform: uppercase;
}

.callback-section {
  margin: 90px 0 130px;
}
.callback-section__img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.callback-section__content {
  width: 50%;
  padding: 0 0 0 28px;
}
.callback-section__box {
  max-width: 464px;
  width: 100%;
  text-align: center;
  padding: 40px 40px 60px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(white, white) padding-box, linear-gradient(to bottom, rgb(170, 132, 70) 0%, rgba(170, 132, 70, 0) 50%, rgb(170, 132, 70) 100%) border-box;
  border: 2px solid transparent;
}
.callback-section__box h3 {
  color: #aa8446;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0 auto 30px;
}
.callback-section__box .box-text {
  font-family: "CenturyGothic", sans-serif;
  max-width: 250px;
  margin: 0 auto 50px;
}

.brands-page h1 {
  margin: 0 auto 75px;
  max-width: 700px;
}

.brand-card {
  width: 100%;
  height: 97px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid #aa8446;
}
.brand-card:hover {
  box-shadow: 3px 3px 0 rgba(170, 132, 70, 0.8);
}

.cities-page h1 {
  max-width: 435px;
}
.cities-page .subtitle {
  margin: 0 auto 100px;
}

.list-cities {
  -moz-column-count: 4;
       column-count: 4;
  padding: 0 70px;
  width: 100%;
  font-size: 16px;
}
.list-cities li a {
  color: #000;
}
.list-cities li a:hover {
  color: #aa8446;
}

.sell-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #f7f7f7;
  padding: 50px 0 65px;
}
.sell-section::before, .sell-section:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 664px;
  height: 1217px;
}
.sell-section::before {
  left: 0;
  background: url("../img/sell-decor1.png") no-repeat center;
  background-size: cover;
  bottom: auto;
  top: 0;
}
.sell-section::after {
  right: 0;
  background: url("../img/sell-decor2.png") no-repeat center;
  background-size: cover;
}
.sell-section h2 {
  margin: 0 auto 30px;
  max-width: 700px;
}
.sell-section .subtitle {
  margin: 0 auto 55px;
}
.sell-section .subtext {
  text-align: center;
  max-width: 750px;
  margin: 0 auto 55px;
}

.callback-box {
  max-width: 810px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(white, white) padding-box, linear-gradient(to bottom, rgb(170, 132, 70) 0%, rgba(170, 132, 70, 0) 50%, rgb(170, 132, 70) 100%) border-box;
  border: 2px solid transparent;
}
.callback-box h3 {
  margin: 0 auto;
  max-width: 400px;
}
.callback-box .box-text {
  margin: 75px 0 70px;
  max-width: 400px;
  font-family: "CenturyGothic", sans-serif;
}
.callback-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: -35px;
  width: 446px;
  height: 444px;
  background: url("../img/sell-watch.png") no-repeat center;
  background-size: 100%;
}

.list-messengers-v2 {
  width: 100%;
}
.list-messengers-v2 li {
  flex: 1;
  margin: 0 20px 0 0;
}
.list-messengers-v2 li:last-child {
  margin: 0;
}
.list-messengers-v2 .list-messengers__link {
  width: 100%;
  padding: 10px;
  box-shadow: none;
  justify-content: flex-start;
}
.list-messengers-v2 .list-messengers__link::before {
  display: none;
}
.list-messengers-v2 .list-messengers__link:hover {
  box-shadow: 0 0 10px rgba(170, 132, 70, 0.8);
}

.list-messengers-column {
  width: 100%;
  max-width: 228px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.list-messengers-column li {
  margin: 0 auto 20px;
  width: 100%;
}
.list-messengers-column li:last-child {
  margin: 0;
}

.news-section {
  padding: 60px 0 80px;
}
.news-section h2 {
  margin: 0 auto 65px;
}

.news-card {
  width: 100%;
}
.news-card__img {
  width: 100%;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #efeff1;
  border-radius: 5px;
  overflow: hidden;
}
.news-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-card__body {
  width: 100%;
  margin: 30px 0 0;
}
.news-card__title {
  text-transform: uppercase;
  font-weight: bold;
  color: #222222;
  margin: 0 0 10px;
}
.news-card__title:hover {
  color: #aa8446;
}
.news-card .link {
  margin: 15px 0 0;
}

.contacts-box {
  width: 100%;
  margin: 0 0 50px;
  text-align: center;
}
.contacts-box:last-child {
  margin: 0;
}
.contacts-box__title {
  text-transform: uppercase;
  margin: 0 auto 20px;
}
.contacts-box__body p, .contacts-box__body a {
  margin: 0 auto 10px;
}
.contacts-box__body p:last-child, .contacts-box__body a:last-child {
  margin: 0 auto;
}
.contacts-box__body p img, .contacts-box__body a img {
  display: inline;
  margin: 0 10px 0 0;
}
.contacts-box__body a {
  color: #222222;
}
.contacts-box__body a:hover {
  color: #aa8446;
}

.contacts-cities {
  width: 100%;
  margin: 70px 0 0;
}
.contacts-cities h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto 50px;
}

.contacts-cities-item {
  margin: 0 auto 40px;
}
.contacts-cities-item:last-child {
  margin: 0 auto;
}
.contacts-cities-item .btn {
  margin: 20px auto 0;
}
.contacts-cities-item h4 {
  text-transform: none;
  margin: 0 auto;
}

.contacts-location {
  width: 100%;
  margin: 100px 0 0;
  text-align: center;
}
.contacts-location h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 0 auto 50px;
}

.map {
  height: 488px;
  max-width: 945px;
  width: 100%;
  margin: 0 auto;
}
.map iframe {
  width: 100%;
  height: 100%;
}