/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 992px) {
  .col-16 {
    width: 20%;
  }
  .page {
    padding: 70px 0;
  }
  .nav-breadcrumb {
    padding: 0;
    margin: 0 0 40px;
  }
  h1, .h1 {
    font-size: 40px;
    margin: 0 auto 30px;
  }
  h2, .h2 {
    font-size: 24px;
  }
  h3, .h3, .subtitle {
    font-size: 24px;
  }
  h4, .h4 {
    font-size: 18px;
  }
  .logo {
    font-size: 20px;
  }
  .logo-img {
    width: 70px;
    min-width: 70px;
  }
  .logo-text {
    max-width: 90px;
  }
  .brands-page h1 {
    margin: 0 auto 30px;
  }
  .list-social a, .phone-link__icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    padding: 10px;
  }
  .phone-link {
    font-size: 14px;
  }
  .list-cities {
    padding: 0;
  }
  .cities-page .subtitle {
    margin: 0 auto 30px;
  }
  .advantages-section {
    margin: 50px 0;
  }
  .advantages-box .box-text {
    font-size: 14px;
    margin: 20px auto 0;
  }
  .advantages-box h4 {
    margin: 0 auto;
  }
  .why-choose {
    margin: 60px 0;
  }
  .why-choose h2 {
    margin: 0 auto 40px;
  }
  .individual-approach {
    padding: 60px 0;
  }
  .individual-approach__img {
    width: 400px;
    margin: 0;
  }
  .individual-approach__content {
    width: calc(100% - 400px);
  }
  .subtitle p {
    margin: 0 0 20px;
  }
  .subtitle p:last-child {
    margin: 0;
  }
  .callback-section {
    margin: 60px 0;
  }
  .callback-section .container {
    align-items: center;
  }
  .callback-section__box {
    max-width: 400px;
    padding: 30px;
  }
  .callback-section__box h3 {
    font-size: 24px;
    margin: 0 auto 20px;
  }
  .callback-section__box .box-text {
    margin: 0 auto 20px;
  }
  .list-messengers-column li {
    margin: 0 auto 10px;
  }
  .list-messengers-column li:last-child {
    margin: 0 auto;
  }
  .step-box {
    padding: 0 10px;
  }
  .step-box__icon {
    margin: 0 auto 20px;
  }
  .news-box {
    padding: 20px 0;
  }
  .news-box:last-child {
    padding-bottom: 0;
  }
  .news-box__body {
    align-items: flex-start;
  }
  .news-box__content {
    padding: 0 0 0 30px;
    width: calc(100% - 350px);
  }
  .news-box__img {
    max-width: 350px;
  }
  .how-sell-elite h2 {
    margin: 0 auto 40px;
  }
  .list-number li::before {
    font-size: 28px;
  }
  .grade-page h1 {
    margin: 0 auto 30px;
  }
  .grade-page .subtext {
    margin: 40px auto 0;
  }
  .grade-page .subtext p {
    margin: 0 auto 20px;
  }
  .grade-page .subtext p:last-child {
    margin: 0 auto;
  }
  .grade-image {
    max-width: 400px;
  }
  .grade-content {
    width: calc(100% - 400px);
    font-size: 24px;
  }
  .btn-grade {
    margin: 40px auto 0;
  }
  .btn-md {
    font-size: 18px;
    padding: 10px 40px;
    height: 50px;
  }
  .about-image {
    max-width: 300px;
  }
  .about-content {
    width: calc(100% - 300px);
  }
}
@media only screen and (max-width: 768px) {
  .fixed-btn {
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 70px;
  }
  .fixed-btn-chat {
    right: 50px;
    bottom: 10px;
    padding: 15px 20px 15px 15px;
  }
  .container {
    padding: 0 10px;
  }
  .row {
    margin: 0 -10px;
  }
  .col-16, .col-25 {
    padding: 0 10px;
  }
  .col-25 {
    width: 50%;
  }
  .mb-30 {
    margin-bottom: 20px;
  }
  .btn-burger {
    display: flex;
  }
  .phone-link__text {
    display: none;
  }
  .phone-link__icon {
    margin: 0;
  }
  .header-top .address {
    display: none;
  }
  .header-bottom {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    max-width: 300px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    padding: 30px;
    box-shadow: -3px 0 5px rgba(170, 132, 70, 0.6);
    display: none;
  }
  .header-bottom::before {
    display: none;
  }
  .header-bottom .address {
    display: block;
    width: 100%;
    margin: 20px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid #aa8446;
  }
  .header-bottom .btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-menu__header .menu {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-menu__header .menu li {
    margin: 0 0 10px;
  }
  .nav-menu__header .menu li:last-child {
    margin: 0;
  }
  .list-social li {
    margin: 0 10px 0 0;
  }
  .phone-link {
    margin: 0 0 0 10px;
  }
  .footer-bottom {
    padding: 20px 0;
  }
  footer .menu {
    justify-content: center;
    flex-direction: column;
  }
  footer .menu li {
    margin: 0 auto 10px;
  }
  footer .menu li:last-child {
    margin: 0 auto;
  }
  .list-messengers__link {
    width: 150px;
    min-width: 150px;
  }
  .list-cities {
    -moz-column-count: 2;
         column-count: 2;
  }
  .callback-box {
    padding: 30px;
  }
  .callback-box:after {
    width: 346px;
    height: 344px;
  }
  .callback-box .box-text {
    margin: 50px 0;
  }
  .sell-section {
    padding: 40px 0;
  }
  .news-section h2 {
    margin: 0 auto 30px;
  }
  .home {
    margin: 0;
  }
  .home h1 {
    font-size: 60px;
  }
  .home-content {
    padding: 0;
    max-width: 450px;
  }
  .home .box-text {
    margin: 30px 0;
    font-size: 16px;
  }
  .btn-group .btn {
    margin: 0 30px 0 0;
  }
  .btn-group .btn:last-child {
    margin: 0;
  }
  .btn {
    padding: 10px 25px;
  }
  .brands-watch {
    padding: 50px 0;
  }
  .faq {
    padding: 60px 0;
  }
  .faq-content {
    padding: 0;
  }
  .callback-section {
    margin: 50px 0;
  }
  .callback-section__img {
    width: 250px;
    margin: 30px auto 0;
    order: 1;
  }
  .callback-section__content {
    width: 100%;
    padding: 0;
  }
  .callback-section__steps {
    width: 100%;
    margin: 0 auto 30px;
  }
  .callback-section__steps h3 {
    padding: 0;
  }
  .callback-section__box {
    margin: 0 auto;
  }
  .step-box {
    width: 50%;
    margin: 0 auto 20px;
  }
  .step-box:nth-child(2)::before {
    display: none;
  }
  .why-choose__img {
    max-width: 200px;
  }
  .why-choose__content {
    width: calc(100% - 200px);
  }
  .individual-approach__img {
    width: 100%;
    order: 1;
    margin: 20px 0 0;
  }
  .individual-approach__content {
    width: 100%;
  }
  .contacts-location {
    margin: 50px 0 0;
  }
  .contacts-location h4 {
    margin: 0 auto 30px;
    font-size: 16px;
  }
  .contacts-cities {
    margin: 50px auto 0;
  }
  .contacts-cities h4 {
    margin: 0 auto 30px;
    font-size: 16px;
  }
  .contacts-cities-item {
    margin: 0 0 30px;
  }
  .contacts-cities-item h4 {
    margin: 0 auto;
  }
  .contacts-box {
    margin: 0 0 30px;
  }
  .map {
    height: 350px;
  }
  .news-box__img {
    max-width: 300px;
    margin: 0 auto;
  }
  .news-box__content {
    width: 100%;
    padding: 20px 0 0;
  }
  .list-number li {
    align-items: flex-start;
  }
  .list-number li::before {
    font-size: 24px;
  }
  .article-content {
    width: 100%;
    padding: 0;
  }
  .article-img {
    margin: 20px auto 0;
  }
  .grade-content {
    padding: 0;
    width: 100%;
    font-size: 18px;
  }
  .grade-content ul {
    margin: 20px 0;
  }
  .grade-page .list-checked li::before {
    width: 22px;
    height: 19px;
    min-width: 22px;
  }
  .price-text {
    margin: 20px 0 0;
  }
  .grade-image {
    max-width: none;
    margin: 20px auto 0;
  }
  .about-image {
    max-width: none;
    margin: 20px auto 0;
  }
  .about-content {
    width: 100%;
    padding: 0;
  }
  .advantages-section .subtext {
    margin: 20px auto 0;
  }
  .buying-watches {
    margin: 50px 0;
  }
  .buying-watches .box-text {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 576px) {
  .nav-breadcrumb {
    margin: 0 0 30px;
  }
  .breadcrumb {
    font-size: 14px;
  }
  .page {
    padding: 50px 0;
  }
  .footer-top {
    padding: 20px 0 30px;
  }
  h1, .h1 {
    font-size: 24px;
  }
  h2, .h2 {
    font-size: 20px;
    margin: 0 auto 20px;
  }
  h3, .h3, .subtitle {
    font-size: 20px;
  }
  .col-16 {
    width: 33.33%;
  }
  .col-25 {
    width: 50%;
  }
  .btn-burger {
    margin: 0 0 0 10px;
  }
  .header-top .nav-social {
    display: none;
  }
  .header-bottom .nav-social {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0 0;
    margin: 20px 0 0;
    border-top: 1px solid #aa8446;
  }
  .header-bottom .list-social {
    justify-content: center;
  }
  .list-messengers {
    flex-direction: column;
    align-items: center;
  }
  .list-messengers li {
    margin: 0 0 10px;
  }
  .list-messengers__link {
    width: 200px;
    min-width: 200px;
  }
  .footer-top::before, .footer-top:after {
    width: 155px;
    height: 300px;
  }
  .news-section {
    padding: 50px 0 40px;
  }
  .news-card__body {
    margin: 20px 0 0;
  }
  .list-messengers li {
    flex: none;
    width: 100%;
  }
  .list-messengers .list-messengers__link {
    justify-content: center;
  }
  .callback-box:after {
    width: 246px;
    height: 244px;
  }
  .sell-section .subtitle {
    margin: 0 auto 30px;
  }
  .sell-section .subtext {
    margin: 0 auto 20px;
  }
  .callback-section__img {
    width: 100%;
    margin: 20px auto 0;
    order: 1;
  }
  .callback-section__content {
    width: 100%;
    padding: 0;
  }
  .callback-section__box {
    max-width: none;
  }
  .faq-box {
    margin: 0 0 20px;
  }
  .brands-watch h2 {
    margin: 0 auto 30px;
  }
  .home {
    background: url("../img/home-bg-mobile.jpg") no-repeat center;
    background-size: cover;
    padding: 60px 0;
  }
  .home h1 {
    font-size: 40px;
  }
  .home .box-text {
    margin: 20px 0;
  }
  .home-content {
    max-width: none;
  }
  .subtext {
    font-size: 16px;
  }
  .why-choose h2 {
    margin: 0 auto 30px;
  }
  .why-choose__img {
    max-width: none;
    margin: 20px 0 0;
  }
  .why-choose__content {
    width: 100%;
  }
  .advantages-box__icon {
    height: 70px;
  }
  .map {
    height: 300px;
  }
}
@media only screen and (max-width: 480px) {
  .page {
    padding: 30px 0;
  }
  .col-25 {
    width: 100%;
  }
  .callback-box .box-text {
    margin: 20px 0;
  }
  .callback-box:after {
    display: none;
  }
  .advantages-box .box-text {
    max-width: none;
  }
  .home .btn-group {
    flex-direction: column;
  }
  .home .btn-group .btn {
    margin: 0 auto 20px;
  }
  .home .btn-group .btn:last-child {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 420px) {
  .brand-card {
    height: 70px;
  }
  .step-box {
    width: 100%;
  }
  .step-box::before {
    display: none;
  }
  .step-box__icon {
    height: 80px;
  }
  .section-image-v2 img {
    margin: 0 0 0 100px;
  }
}