@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "CenturyGothic";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/CenturyGothic/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic/CenturyGothic.ttf") format("truetype");
}
@font-face {
  font-family: "CenturyGothic";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/CenturyGothic/CenturyGothic-Bold.eot");
  src: url("../fonts/CenturyGothic/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic/CenturyGothic-Bold.woff") format("woff"), url("../fonts/CenturyGothic/CenturyGothic-Bold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #222222;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 54px;
  background: transparent;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #595959;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #595959;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  box-shadow: none;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 45px;
  font-size: 16px;
  text-transform: uppercase;
  height: 51px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.btn-md {
  font-size: 24px;
  height: 64px;
  padding: 10px 60px;
}

.btn-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.btn-group .btn {
  margin: 0 60px 0 0;
}
.btn-group .btn:last-child {
  margin: 0;
}

.btn-border-white {
  border: 1px solid #fff;
  color: #fff;
}
.btn-border-white:hover {
  background: #aa8446;
}

.btn-border-brown {
  color: #222222;
  border: 1px solid #aa8446;
  text-transform: none;
}
.btn-border-brown:hover {
  background: #aa8446;
  color: #fff;
}

.btn-border-black {
  color: #222222;
  border: 1px solid #222222;
  text-transform: none;
}
.btn-border-black:hover {
  background: #222222;
  color: #fff;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.list-checked li {
  display: flex;
  align-items: flex-start;
  margin: 0 0 20px;
}
.list-checked li:last-child {
  margin: 0;
}
.list-checked li::before {
  content: "";
  width: 22px;
  height: 19px;
  min-width: 22px;
  margin: 0 10px 0 0;
  background: url("../img/check-icon.png") no-repeat center;
  background-size: 100%;
}

.list-number {
  counter-reset: list;
}
.list-number li {
  display: inline-flex;
  align-items: center;
  margin: 0 0 20px;
}
.list-number li:last-child {
  margin: 0;
}
.list-number li::before {
  counter-increment: list;
  content: counter(list) " ";
  color: #aa8446;
  font-weight: bold;
  font-family: "CenturyGothic", sans-serif;
  font-size: 32px;
  margin: 0 10px 0 0;
}

h1, .h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "CenturyGothic", sans-serif;
  font-size: 48px;
  color: #aa8446;
  margin: 0 auto 45px;
}

h2, .h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto 30px;
  font-family: "CenturyGothic", sans-serif;
  font-size: 30px;
}

h3, .h3, .subtitle {
  font-size: 32px;
  font-family: "CenturyGothic", sans-serif;
  width: 100%;
  text-align: center;
  margin: 0 auto 30px;
}

.subtitle p {
  margin: 0 0 50px;
}
.subtitle p:last-child {
  margin: 0;
}

h4, .h4 {
  width: 100%;
  font-size: 22px;
  margin: 0 0 20px;
}

.subtext {
  font-size: 18px;
}

.w-100 {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.col-16 {
  width: 16.66%;
  padding: 0 15px;
}

.col-25 {
  width: 25%;
  padding: 0 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.p-50 {
  padding: 50px 0;
}

.d-inline {
  display: inline;
}

a.color-brown {
  color: #aa8446;
}
a.color-brown:hover {
  color: #222222;
}

a.link {
  color: #222222;
}
a.link:hover {
  color: #aa8446;
}

.box-text p {
  margin: 0 0 20px;
}
.box-text p:last-child {
  margin: 0;
}

.page {
  padding: 120px 0;
}

.nav-breadcrumb {
  width: 100%;
  margin: 0 0 60px;
  padding: 0 0 0 80px;
  font-size: 18px;
}

.breadcrumb {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.breadcrumb li a {
  display: flex;
  align-items: center;
  color: #000;
}
.breadcrumb li a:after {
  content: ">";
  display: inline-block;
  margin: 0 5px;
}
.breadcrumb li a:hover {
  color: #e6b96f;
}

.fixed-btn {
  position: fixed;
  z-index: 10;
  width: 85px;
  height: 85px;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixed-btn::before, .fixed-btn::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  animation: pulse 1.5s linear infinite;
}
.fixed-btn:before {
  animation-delay: 1.25s;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
}
.fixed-btn img {
  position: relative;
  z-index: 1;
}

.fixed-btn-whatsapp {
  background: #55cd6c;
  right: 42px;
  bottom: 125px;
}
.fixed-btn-whatsapp::before {
  background: rgba(85, 205, 108, 0.2);
}
.fixed-btn-whatsapp:after {
  background: rgba(85, 205, 108, 0.4);
}

.fixed-btn-chat {
  right: 100px;
  bottom: 40px;
  background: #0e63a6;
  padding: 22px 22px 22px 14px;
}
.fixed-btn-chat::before {
  background: rgba(14, 99, 166, 0.2);
}
.fixed-btn-chat:after {
  background: rgba(14, 99, 166, 0.4);
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}
.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-dots {
  margin: 40px auto 0;
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  cursor: pointer;
  transition: 0.3s ease;
  width: 10px;
  height: 10px;
  min-width: 10px;
  border-radius: 5px;
  background: #aa8446;
  margin: 0 7px 0 0;
}
.slick-dots li:last-child {
  margin: 0;
}
.slick-dots li.slick-active {
  width: 32px;
  min-width: 32px;
}
.slick-dots li button {
  display: none;
}